@charset "utf-8";

// -------------------------------------------------------------------
// Import Frameworks
// -------------------------------------------------------------------
@import 'bootstrap-custom';


// -------------------------------------------------------------------
// Variables
// -------------------------------------------------------------------


// -------------------------------------------------------------------
// Mixins
// -------------------------------------------------------------------


// -------------------------------------------------------------------
// Custom Styles
// -------------------------------------------------------------------

/* Base */
h1 {
  text-align: center;
  @media (max-width: $screen-xs-max){
    display: none;
  }
}


h2 {
  margin: 0;
}

/* Layout */

#footer {
  margin-top: 50px;
  > p{
    border-top: 1px solid #CCC;
    padding: 10px 0;
    text-align: center;
  }
}

/* Module */

.contents {
  margin-top:5%;
}

.links {
  background-color: #FFF;
  color: #000;
  display: block;
  opacity: 1;
  p {
    word-wrap:break-word;
  }
  &:hover{
    opacity: 0.4;
    text-decoration: none;
  }
}

.top-pickup {
  margin-bottom: 5%;
}
.marginBtm {
  margin-bottom: 10%;
}


@media screen and (min-width:768px){
  .menu {
    //border: none;
    font-size: $font-size-large;
    font-family: Arial, Verdana, sans-serif;
    width: 100%;
    
    > li {
      width: 25%;
      margin: 0 auto;
      text-align: center;
      > a {
        display: inline;
        padding: 0;
      }
    }
  }
}

.subMenu {
  margin: $line-height-computed 0;
}

.col-less-padding {
  @media (max-width: $screen-xs-max){
    padding: $line-height-computed*0.5;
  }
}

.logo {
  vertical-align: baseline;
}

.img-centering{
    margin: 0 auto;
}

.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}